<%- include("partials/header") %>
<style>
.pcard
{
    background-color: #f1f1f1;
}

.profile-card
{
    width: 1000px;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}

.image-container
{
    position: relative;
}

.info
{
    color: #4b4fe2;
    margin-right: 16px;
}

.main-container
{
    padding: 20px;
}
/* .list-bar
{
    background-color: #bdc9ea;
    border-radius: 16px;
} */
.itemlist
{
    padding: 0.1em 16px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    background-color: #D2D9DA;
}
</style>

<br><br><br><br>
<body class="pcard">
   
   
    <form  action="/profile/<%= edit._id %>/edit" method="POST" ></form>
    <div class="profile-card">
    
    <div  class="image-container">
            <img src="blue.png" style="width: 100%">
            <div class="main-container">
                <p>Name</p>
                <p><input style="width: 600px;" type="text" name="Name" value="<%= edit.Name %>"></p>
                <p>Surename</p>
                <p><input style="width: 600px;" type="text" name="Surename" value="<%= edit.Surename %>"></p>
            </div>
            
            <hr>
    </div> 
    <div class="main-container">
        <p>บ้านเลขที่</p>
        <p><input style="width: 600px;"  type="text" name="Housenumber" placeholder="Address" value="<%= edit.Housenumber %>"></p>
        <p>จังหวัด</p>
       <p><input style="width: 600px;" type="text" name="Province" placeholder="" value="<%= edit.Province %>"></p>
        <p>เขต</p>
        <p><input style="width: 600px;" type="text" name="District" placeholder="" value="<%= edit.District %>"></p>
        <p>รหัสไปรษณีย์</p>
        <p><input style="width: 600px;" type="text" name="Postalcode" placeholder="" value="<%= edit.Postalcode %>"></p>
        <p>บัตรประชาชน</p>
        <p><input style="width: 600px;" type="number" name="IDCard" placeholder="13 หลัก" value="<%= edit.IDCard %>"></p>
        <p>Tel.</p>
        <p><input style="width: 600px;" type="tel" name="Telephone" placeholder="085-xxxxxxx" value="<%= edit.Telephone %>"></p>
        <p>Size</p>
        <p><input style="width: 600px;" type="" name="Size" placeholder="" value="<%= edit.Size %>"> </p>
        <p>เพศ</p>
        <p><select value="<%= edit.Gender %>"  name="Gender" >
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
        </select>
        </p>

        <hr>
        <p>Change Photo</p>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>
            <center><button type="button"  class="btn btn-dark">Submit</button></center>
    </div>

</div>
</form>
</body>

<%- include("partials/footer") %>